.kb-kowhub-builder-app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: $color-background;

    .kb-header {
        flex: 0 0 40px;
        max-height: 40px;
        //background: yellow;
    }

    .kb-main {
        flex: 1 1 auto;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        margin-top: 10px;
    }

    .kb-footer {
        margin-top: 10px
    }
}

