.react-tabs {
    margin-left: 20px;
    flex: 0 0 400px;
    display: flex;
    flex-direction: column;

    &__tab-list {
        flex: 0 0 30px;
        display: flex;
        flex-direction: row;
    }

    &__tab {
        flex: 1;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background: linear-gradient(to bottom, $color-panel, shade($color-panel, 40%));
        border-radius: 8px 8px 0 0;
        z-index: 1;

        &--selected {
            background: $color-panel;
            box-shadow: 0 0 2px #222;
            z-index: 2;
        }
    }

    &__tab-panel {
        padding: 10px 0;
        display: none;

        &--selected {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            background: $color-panel;
            z-index: 3;
        }
    }
}
