.react-tabs {
    margin-left: 20px;
    flex: 0 0 400px;
    display: flex;
    flex-direction: column;

    &__tab-list {
        flex: 0 0 30px;
        display: flex;
        flex-direction: row;
    }

    &__tab {
        flex: 1;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background: linear-gradient(to bottom, $color-panel, shade($color-panel, 20%));
        color: rgba($color-font-panel, 0.8);
        border-radius: 8px 8px 0 0;
        z-index: 1;
        margin: 2px 1px 0 1px;
        transition: margin 200ms ease-in;

        &--selected {
            color: $color-font-panel;
            background: $color-panel;
            box-shadow: 0 0 2px #222;
            z-index: 2;
            margin: 0;
            transition: margin 200ms ease-in;
        }
    }

    &__tab-panel {
        padding: 10px 0;
        display: none;

        &--selected {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            background: $color-panel;
            z-index: 3;
        }
    }
}
