.kb-userlistheader {
    flex: 0 0 30px;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    color: $color-font-title;
    
    &__title {
        flex: 1 1 auto;
        background: none;
        font-size: 16px;
        border-radius: 5px 5px 0 0;

        &:focus {
            background: linear-gradient(to bottom, $color-background, shade($color-background, 15%));
        }
    }

    &__army {
        flex: 0 0 60px;
    }

    &__pts {
        flex: 0 0 60px;
    }
}
