.kb-userlistheader {
    flex: 0 0 30px;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    color: $color-font-title;
    
    &__title {
        flex: 1 1 auto;
        background: none;
        font-size: 16px;
        border-radius: 5px 5px 0 0;
        text-overflow: ellipsis;

        &:focus {
            background: linear-gradient(to bottom, $color-background, shade($color-background, 15%));
        }
    }

    &__army {
        background: $color-button-utility;
        color: $color-background;
        flex: 0 0 80px;
        margin-left: 10px;
    }

    &__pts {
        background: $color-button-utility;
        color: $color-background;
        flex: 0 0 80px;
        margin-left: 10px;
    }
}
