.kb-userlistspanel {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    .transitem-enter {
        height: 0;
        opacity: 0;
    }

    .transitem-enter.transitem-enter-active {
        height: 60px;
        opacity: 1;
        transition: all 200ms ease-in;
    }

    .transitem-exit {
        height: 60px;
        opacity: 1;
    }

    .transitem-exit.transitem-exit-active {
        height: 0;
        opacity: 0;
        transition: all 200ms ease-in;
    }
}

