.kb-userlistheader {
    flex: 0 0 30px;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    
    &__title {
        flex: 1 1 auto;
    }

    &__army {
        flex: 0 0 60px;
    }

    &__pts {
        flex: 0 0 60px;
    }
}
