.kb-userlistspanel {
    overflow-y: scroll;
    padding: 0 10px;

    .transitem-enter {
        height: 0;
        opacity: 0;
        margin-top: 0;
    }

    .transitem-enter.transitem-enter-active {
        height: 60px;
        opacity: 1;
        margin-top: 10px;
        transition: all 200ms ease-in;
    }

    .transitem-exit {
        height: 60px;
        opacity: 1;
        margin-top: 10px;
    }

    .transitem-exit.transitem-exit-active {
        height: 0;
        opacity: 0;
        margin-top: 0;
        transition: all 200ms ease-in;
    }
}

.kb-newlistbutton {
    margin-top: 10px;
    flex: 0 0 60px;
    display: flex;
    justify-content: center;

    .kb-icon-button {
        cursor: pointer;
        width: 60px;
        &>svg>path {
            fill: $color-font-panel;
        }
    }
}

