#!/bin/bash

PROJNAME=?PROJNAME?      # Name of the django project
PROJDIR=?PROJDIR?        # Webapp root directory
DJANGODIR=?DJANGODIR?    # Django directory
PROJUSER=?PROJUSER?      # the user to run as
USERGROUP=?USERGROUP?    # the group to run as

SOCKFILE=${PROJDIR}/run/gunicorn.sock           # we will communicte using this unix socket

PROC_NAME="${PROJNAME}_webapp"                  # Name that Gunicorn will use for its processes
NUM_WORKERS=3                                   # how many worker processes should Gunicorn spawn
DJANGO_SETTINGS_MODULE="config.settings.production" # which settings file should Django use
DJANGO_WSGI_MODULE="config.wsgi"                # WSGI module name

echo "Starting $PROC_NAME as `whoami`"

#### Activate the virtual environment
cd $DJANGODIR
source ./venv/bin/activate
export DJANGO_SETTINGS_MODULE=$DJANGO_SETTINGS_MODULE
export PYTHONPATH=$DJANGODIR:$PYTHONPATH

#### Create the run directory if it doesn't exist
RUNDIR=$(dirname $SOCKFILE)
test -d $RUNDIR || mkdir -p $RUNDIR

#### Start your Django Unicorn
exec ./venv/bin/gunicorn ${DJANGO_WSGI_MODULE}:application \
  --name $PROC_NAME \
  --workers $NUM_WORKERS \
  --user=$PROJUSER --group=$USERGROUP \
  --bind=unix:$SOCKFILE \
  --log-level=info          # possible levels (debug|info|warning|error|critical)
