# Nginx configuration file for ?PROJNAME? webapp
#
# For further explaination of these settings, see
#     http://michal.karzynski.pl/blog/2013/06/09/django-nginx-gunicorn-virtualenv-supervisor/

upstream ?PROJNAME?_webapp_server {
  server unix:?PROJDIR?/run/gunicorn.sock fail_timeout=0;
}

server {

    listen   80;
    server_name www.?HOSTNAME?;
    return 301 $scheme://?HOSTNAME?$request_uri;
}

server {

    listen   80;
    server_name ?HOSTNAME?;

    client_max_body_size 4G;

    access_log ?PROJDIR?/logs/nginx-access.log;
    error_log ?PROJDIR?/logs/nginx-error.log;
 
    location /static/ {
        alias   ?PROJDIR?/static/;
    }
    
    location /media/ {
        alias   ?PROJDIR?/media/;
    }

    location / {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

        # enable this if and only if you use HTTPS
        # proxy_set_header X-Forwarded-Proto https;

        proxy_set_header Host $http_host;

        proxy_redirect off;

        if (!-f $request_filename) {
            proxy_pass http://?PROJNAME?_webapp_server;
            break;
        }
    }

    # Error pages
    error_page 500 502 503 504 /500.html;
    location = /500.html {
        root ?PROJDIR?/static/;
    }
}

