
$fuji-colors: (
    dark: rgb(44, 56, 64),
    earth: rgb(139, 128, 94),
    redbrown: rgb(115, 89, 67),
    pink: rgb(199, 191, 189),
    khaki: rgb(159, 147, 129)
);

$fuji: (
    color-1:        map-get($fuji-colors, dark),
    color-2:        map-get($fuji-colors, earth),
    color-3:        map-get($fuji-colors, redbrown),
    color-4:        map-get($fuji-colors, pink),
    color-5:        map-get($fuji-colors, khaki),

    background:     map-get($fuji-colors, redbrown),
    font-header:    map-get($fuji-colors, dark),
    font-title:     map-get($fuji-colors, dark),

    panel:          map-get($fuji-colors, khaki),
    font-panel:     map-get($fuji-colors, dark),

    button-unit:    map-get($fuji-colors, dark),
    font-unit:      map-get($fuji-colors, pink),

    button-utility: map-get($fuji-colors, pink),
    font-utility:   map-get($fuji-colors, dark),

    logo-outside:   map-get($fuji-colors, dark),
    logo-inside:    map-get($fuji-colors, dark),
    logo-name:      map-get($fuji-colors, dark),
);

