
$hills-colors: (
    dark: rgb(10, 24, 41),
    blue: rgb(88, 142, 149),
    bluegreen: rgb(127, 173, 169),
    lightgreen: rgb(204, 217, 206),
    eggwhite: rgb(246, 237, 211)
);

$hills: (
    color-1:        map-get($hills-colors, dark),
    color-2:        map-get($hills-colors, blue),
    color-3:        map-get($hills-colors, bluegreen),
    color-4:        map-get($hills-colors, lightgreen),
    color-5:        map-get($hills-colors, eggwhite),

    background:     map-get($hills-colors, bluegreen),
    font-header:    map-get($hills-colors, eggwhite),
    font-title:     map-get($hills-colors, eggwhite),

    panel:          map-get($hills-colors, lightgreen),
    font-panel:     map-get($hills-colors, dark),

    button-unit:    map-get($hills-colors, blue),
    font-unit:      map-get($hills-colors, dark),

    button-utility: map-get($hills-colors, dark),
    font-utility:   map-get($hills-colors, lightgreen),

    logo-outside:   map-get($hills-colors, dark),
    logo-inside:    map-get($hills-colors, dark),
    logo-name:      map-get($hills-colors, dark),
);

