{% load staticfiles %}

<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="utf=8">
        <title>Army Builder</title>

        <link rel="icon" href="{% static "img/favicon.ico" %}">

        {% load compress %}
        {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static "armybuilder/styles/armybuilder.scss" %}" />
        <link rel="stylesheet" type="text/x-scss" href="{% static "armybuilder/styles/armylist.scss" %}" />
        {% endcompress %}

        {% compress js %}
        <script src="{% static "armybuilder/scripts/jquery-3.0.0.min.js" %}"></script>
        <script src="{% static "armybuilder/scripts/jsrender.min.js" %}"></script>
        <script src="{% static "armybuilder/scripts/armybuilder-controller.js" %}"></script>
        <script src="{% static "armybuilder/scripts/armybuilder-webstorage.js" %}"></script>
        {% endcompress %}
    </head>

    <body>
        <header>
            <div id="headerPanel">
                Kowhub's Kings of War Army Builder - <b><i>UNDER CONSTRUCTION</i></b>
            </div>
        </header>
        <main id="armybuilderPage">
            <div id="leftPanel">
                <header>
                    <div id="storedListsBtn">*mylists*</div>
                    <div id="armyOptionsBtn">*armies*</div>
                    <h1 id="leftPanelTitle" class="faded">Select an army</h1>
                </header>
                <section>
                    <div id="armyOptions"></div>
                    <div id="unitOptions"></div>
                    <div id="storedListsPanel"></div>
                </section>
            </div>
            <div id="rightPanel">
                <div id="armylistPanel">
                    <header>
                        <div id="armylistTitle">
                            <div></div>
                            <textarea id="titleChange" style="display:none;" rows="1" cols="30" maxlength="30"></textarea>
                        </div>
                    </header>
                    <section></section>
                    <footer>
                        <div id="alPointsTotal">
                        </div>
                        <div id="alBtnPanel">
                        </div>
                    </footer>
                </div>
                <div id="statsTable"></div>
                <div id="placeholderBtnPanel">
                    <div>
                        <button id="primaryArmyBtn" class="dropdownBtn"></button>
                        <ul id="primaryArmyOptions" class="dropdownMenu panUp"></ul>
                    </div>
                    <div>
                        <button id="armylistPoints" class="dropdownBtn"></button>
                        <ul id="armylistPointsOptions" class="dropdownMenu panUp">
                            <li><a href="#">1500</a></li>
                            <li><a href="#">2000</a></li>
                            <li><a href="#">2500</a></li>
                        </ul>
                    </div>
                    <div>
                        <span class="riseTooltip"></span>
                        <button class="pdfBtn">PDF</button>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div id="footerPanel">
            </div>
        </footer>
    </body>

    <script id="unitOptionsTmpl" type="text/x-jsrender">
<header>
    <div>Troop</div>
    <div>Regiment</div>
    <div>Horde</div>
    <div>Legion</div>
</header>
{?props units?}
    {?if ~isUnit(prop)?}
        <nav>
            <label>{?>prop.name?}</label>
            {?include ~form="Troop" tmpl="#btnTmpl"/?}
            {?include ~form="Regiment" tmpl="#btnTmpl"/?}
            {?include ~form="Horde" tmpl="#btnTmpl"/?}
            {?include ~form="Legion" tmpl="#btnTmpl"/?}
        </nav>
    {?/if?}
{?/props?}
{?if ~hasWen(units)?}
    <header>
        <div>War Engine</div>
    </header>
    {?props units?}
        {?if ~isWen(prop)?}
            <nav>
                <label>{?>prop.name?}</label>
                {?include ~form="Warengine" tmpl="#btnTmpl"/?}
            </nav>
        {?/if?}
    {?/props?}
{?/if?}
{?if ~hasMon(units)?}
    <header>
        <div>Monster</div>
    </header>
    {?props units?}
        {?if ~isMon(prop)?}
            <nav>
                <label>{?>prop.name?}</label>
                {?include ~form="Monster" tmpl="#btnTmpl"/?}
            </nav>
        {?/if?}
    {?/props?}
{?/if?}
<header>
    <div>Hero</div>
</header>
{?props units?}
    {?if ~isHero(prop)?}
        <nav>
            <label>{?>prop.name?}</label>
            {?include ~form="Hero" tmpl="#btnTmpl"/?}
        </nav>
    {?/if?}
{?/props?}
    </script>

    <script id="btnTmpl" type="text/x-jsrender">
{?if prop[~form]?}
    <div data-key={?>prop.key?} data-form={?:~form?}>{?>prop[~form].Pts?}</div>
{?else?}
    <div class="invalid"></div>
{?/if?}
    </script>

    <script id="armyOptionsTmpl" type="text/x-jsrender">
<div data-army={?:key?}>{?:name?}</div>
    </script>

    <script id="primaryArmyTmpl" type="text/x-jsrender">
<li><a href="#" data-army={?:key?}>{?:name?}</a></li>
    </script>

    <script id="armylistUnitTmpl" type="text/x-jsrender">
<div class="alUnit" data-unit-id={?>id?}>
    <div class="alUnitOpt">UnitOpt</div>
    <div class="alUnitType">{?:form?}
        <div style="display:none;">{?:~typeFormat(type)?}</div>
        <div class="alUnitBtnSet">
            <div class="alUnitBtnRm"></div>
            <div class="alUnitBtnOpt"></div>
        </div>
    </div>
    <div class="alUnitPts">{?:stats.Pts?}</div>
    <div class="alUnitName">{?>name?}</div>
    <div class="alUnitStats">
        {?include stats tmpl="#unitStatsTmpl"/?}
    </div>
</div>
    </script>

    <script id="unitStatsTmpl" type="text/x-jsrender">
<table>
    <thead>
        <th class="alsp">Sp</th>
        <th class="alme">Me</th>
        <th class="alra">Ra</th>
        <th class="alde">De</th>
        <th class="alat">Att</th>
        <th class="alne">Ne</th>
    </thead>
    <tbody>
        <td class="alsp">{?>Sp?}</td>
        <td class="alme">{?>Me?}</td>
        <td class="alra">{?>Ra?}</td>
        <td class="alde">{?>De?}</td>
        <td class="alat">{?>Att?}</td>
        <td class="alne">{?>Ne?}</td>
    </tbody>
</table>
    </script>

    <script id="statsTmpl" type="text/x-jsrender">
<table>
    <thead>
        <tr><th>Total number of units: {?:count?}</th><th legal="{?:legalPts?}">{?:points?}/{?:pointsLimit?} Points</th></tr>
    </thead>
    <tbody>
        <tr><td>{?:Legion?} Legions</td><td legal="{?:legalHer?}">{?:Hero?} Heroes ({?:slotsHer?} slots left)</td></tr>
        <tr><td>{?:Horde?} Hordes</td><td legal="{?:legalMon?}">{?:Monster?} Monsters ({?:slotsMon?} slots left)</td></tr>
        <tr><td>{?:Regiment?} Regiments</td><td legal="{?:legalWen?}">{?:Warengine?} War Engines ({?:slotsWen?} slots left)</td></tr>
        <tr><td legal="{?:legalTro?}">{?:Troop?} Troops ({?:slotsTro?} slots left)</td><td legal="{?:legalAllies?}">{?:allies?}% Allies</td></tr>
    </tbody>
</table>
    </script>

    <script id="storedListsTmpl" type="text/x-jsrender">
<div class="storedArmylist" data-army-id={?:key?}>
    <div class="saName">{?:name?}</div>
    <div class="saArmy">{?:army?}</div>
    <div class="saPts">{?:pts?}</div>
    <div class="saCount">{?:count?}</div>
</div>
    </script>
</html>
