.kb-userlistspanel {
    overflow-y: scroll;
    padding: 0 10px;

    .transition-appear {
        height: 1px;
        opacity: 0.1;
        margin-top: 0;
    }

    .transition-appear.transition-appear-active {
        height: 60px;
        opacity: 1;
        margin-top: 10px;
        transition: all 300ms ease-in-out;
    }

    .transition-exit {
        height: 60px;
        opacity: 1;
        margin-top: 10px;
    }

    .transition-exit.transition-exit-active {
        height: 1px;
        opacity: 0.1;
        margin-top: 0;
        transition: all 300ms ease-in-out;
    }
}

.kb-newlistbutton {
    margin-top: 10px;
    flex: 0 0 60px;
    display: flex;
    justify-content: center;

    .kb-icon-button {
        cursor: pointer;
        width: 60px;
        &>svg>path {
            fill: $color-font-panel;
        }
    }
}

