.kb-utilities {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;

    &__box {
        margin-top: 10px;
    }

    &__btnpanel {
        margin-top: 10px;
        flex: 0 0 50px;
        display: flex;
        flex-direction: row;
    }

    .kb-icon-button {
        width: 50px;
        margin-right: 10px;
        background: $color-button-utility;
        border-radius: 5px;
        
        &>svg>path {
            fill: $color-font-utility;
        }
        
        &:hover {
            cursor: pointer;
        }
    }
}
