@CHARSET "UTF-8";

body, h1, h2, h3, h4, h5, h6, p, ul, dl, ol, form, fieldset, input, label,
table, thead, tbody, tfoot, th, tr, td, textarea, select {
    font-family: "helvetica neue";
    font-weight: normal;
    font-size: 14px;
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    background: #ffefaf;
    min-width: 950px;
}

header {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #d1e0e1;
    text-align: center;
    font-weight: bold;
}

table {
    text-align: center;
    margin: 15px 15px;
    border-collapse: collapse;
}

caption {
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
}

#leftPanel, #rightPanel {
    height: 500px;
    width: 50%;
    padding: 0px;
    border: 0px;
    margin: 0px;
    overflow-x: auto;
    overflow-y: auto;
}
#leftPanel {
    background-color: lightblue;
    float: left;
}
#rightPanel {
    background-color: lightgreen;
    float: right;
}
#leftPanelHeader {
    height: 50px;
    width:100%;
    overflow: hidden;
}

.unitName {
    font-variant: small-caps;
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
}

table.forceList {
    width: 93%;
}
table.forceList thead {
    display: block;
}
table.forceList tbody {
    display: block;
    height: 400px;
    overflow-y: auto;
    outline: 1px solid black;
}
table.forceList th {
    font-weight: bold;
    height: 25px;
    line-height: 25px;
}
table.forceList>tbody>tr {
    background-color: lightgrey;
    border: 1px solid black;
    border-radius: 4px;
    height: 30px;
}
table.forceList td:not(.unitName) {
    width: 66px;
}

#forceListHeader {
    display: table;
}
.forceSectionBtn,
.forceListReturnBtn {
    display: table-cell;
    text-decoration: none;
    background-color: #f44336;
    color: white;
    font-size: 14px;
    border: 1px solid #5b5b5b;
    border-radius: 4px;
    height: 45px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}
.forceSectionBtn {
    width: 100px;
}
.forceListReturnBtn {
    text-align: left;
    width: 180px;
}
.forceListReturnBtn:hover,
.forceSectionBtn:hover {
    background-color: red;
}

#armySelectionPanel>span {
    margin: 0px;
    padding: 0px;
}

.armyBtn {
    display: inline-block;
    text-decoration: none;
    background-color: #f44336;
    color: white;
    font-size: 16px;
    border: 1px solid #5b5b5b;
    border-radius: 4px;
    width: 150px;
    height: 60px;
    margin: 2px;
}

.unitBtn, .emptyBtn {
    display: inline-block;
    text-decoration: none;
    background-color: #f44336;
    color: white;
    font-size: 16px;
    border: 1px solid #5b5b5b;
    border-radius: 4px;
    width: 60px;
    line-height: 25px;
    margin: 2px;
}

.emptyBtn, .disabled {
    opacity: 0.6;
    cursor: default;
    pointer-events: none;
}

.emptyBtn {
    color: #f44336;
}

#choiceList {
}

#choiceList>tbody>tr {
    border: 1px solid blue;
}

#choiceList>tbody>tr:hover {
    background-color: #f3f3f3;
}

.removeBtn {
    display: inline-block;
    text-decoration: none;
    background-color: #f44336;
    color: white;
    font-size: 16px;
    border: 1px solid #5b5b5b;
    border-radius: 4px;
    width: 25px;
    line-height: 25px;
    margin: 2px;
}

.unitBtn:hover, .armyBtn:hover, .removeBtn:hover {
    background-color: red;
}

.unitStats {
    margin: 2px 15px;
}

.unitStats th, .unitStats td {
    padding: 0px 2px;
    font-size: 12px;
}

.unitStats th {
    border-bottom: thin solid black;
    font-weight: bold;
}

#statsTable {
    border: 1px solid black;
}

[legal=false] {
    color: red;
}

#primaryArmyBtn, .pdfBtn {
    width: 200px;
    background: #222;
    color: #eee;
    line-height: 25px;
    font-size: 14px;
    padding: 0 10px;
    cursor: pointer;
}

#primaryArmyOptions {
    display: none;
    position: absolute;
    margin: 0;
    background: #dddddd;
    text-decoration: none;
    list-style-type: none;
}

#primaryArmyOptions > li {
    width: 200px;
    background: #eee;
    line-height: 25px;
    font-size: 14px;
    padding: 0 10px;
    cursor: pointer;
}

#primaryArmyOptions > li:hover {
    background: #bbb;
}

.nodisplay {
    display: none;
}
