@CHARSET "UTF-8";

body, h1, h2, h3, h4, h5, h6, p, ul, dl, ol, form, fieldset, input, label,
table, thead, tbody, tfoot, th, tr, td, textarea, select {
    font-family: "helvetica neue";
    font-weight: normal;
    font-size: 14px;
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    background-color: lightblue;
    min-width: 950px;
    min-height: 600px;
}

#headerPanel {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #d1e0e1;
    text-align: center;
    font-weight: bold;
}

#mainPanel {
    height: 550px;
    padding: 5px 0px;
}

#footerPanel {
    width: 100%;
    height: 80px;
    background-color: #d1e0e1;
}

table {
    text-align: center;
    border-collapse: collapse;
}

caption {
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
}

#leftPanel, #rightPanel {
    height: 100%;
    position: relative;
    padding: 0px 15px;
    border: 0px;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
}
#leftPanel {
    float: left;
    width: 445px;
}
#rightPanel {
    margin-left: 475px;
}
#leftPanel>div, #rightPanel>div {
    width: 100%;
}
#leftPanelHeader {
    height: 50px;
    margin-bottom: 10px;
    overflow: hidden;
}
#rightPanelHeader {
    height: 30px;
    margin-bottom: 10px;
}
#leftPanelFooter {
}
#rightPanelFooter {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.unitName {
    font-variant: small-caps;
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
}
.buttonWrapper {
    display: table;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
.buttonWrapper>div {
    display: table-cell;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 4pt;
    vertical-align: middle;
    text-align: center;
}

#unitChoicePanel {
    position: relative;
}

#armyChoicePanel {
    height: 100%;
    margin-top: 25px;
    padding-left: 2px;
}

table.forceList {
    display: none;
    width: 100%;
}
table.forceList thead {
    display: block;
}
table.forceList tbody {
    display: block;
    height: 400px;
    overflow-y: auto;
    outline: 1px solid black;
}
table.forceList th {
    font-weight: bold;
    height: 25px;
    line-height: 25px;
}
table.forceList>tbody>tr {
    background-color: lightgrey;
    border: 1px solid black;
    border-radius: 4px;
    height: 30px;
}
table.forceList td:not(.unitName) {
    width: 66px;
}

#forceListHeader {
}
.forceSectionBtn,
.forceListReturnBtn {
    display: inline-block;
    text-decoration: none;
    background-color: #f44336;
    color: white;
    font-size: 14px;
    border: 1px solid #5b5b5b;
    border-radius: 4px;
    height: 45px;
    cursor: pointer;
}
.forceSectionBtn {
    width: 90px;
}
.forceListReturnBtn {
    width: 155px;
}
.forceListReturnBtn:hover,
.forceSectionBtn:hover {
    background-color: red;
}

.armyBtn {
    display: inline-block;
    text-decoration: none;
    background-color: #f44336;
    color: white;
    font-size: 16px;
    border: 1px solid #5b5b5b;
    border-radius: 4px;
    width: 83px;
    height: 83px;
    margin: 0px;
    cursor: pointer;
}

.unitBtn, .emptyBtn {
    display: inline-block;
    text-decoration: none;
    background-color: #f44336;
    color: white;
    font-size: 16px;
    border: 1px solid #5b5b5b;
    border-radius: 4px;
    width: 60px;
    line-height: 25px;
    margin: 2px;
}

.emptyBtn, .disabled {
    opacity: 0.6;
    cursor: default;
    pointer-events: none;
}

.emptyBtn {
    color: #f44336;
}

#choiceList {
}

#choiceList>tbody>tr {
    border: 1px solid blue;
}

#choiceList>tbody>tr:hover {
    background-color: #f3f3f3;
}

.removeBtn {
    display: inline-block;
    text-decoration: none;
    background-color: #f44336;
    color: white;
    font-size: 16px;
    border: 1px solid #5b5b5b;
    border-radius: 4px;
    width: 25px;
    line-height: 25px;
    margin: 2px;
}

.unitBtn:hover, .armyBtn:hover, .removeBtn:hover {
    background-color: red;
}

.unitStats {
    margin: 2px 15px;
}

.unitStats th, .unitStats td {
    padding: 0px 2px;
    font-size: 12px;
}

.unitStats th {
    border-bottom: thin solid black;
    font-weight: bold;
}

#statsTable {
    border-top: 1px solid black;
}
#statsTable table {
    margin: 15px auto;
    text-align: left;
}
#statsTable tbody {
    border-top: 1px solid black;
}
#statsTable th, #statsTable td {
    padding: 0px 10px;
}

[legal=false] {
    color: red;
}

.dropdownBtn,
.pdfBtn {
    width: 150px;
    background: #222;
    color: #eee;
    line-height: 25px;
    font-size: 14px;
    padding: 0 10px;
    cursor: pointer;
}

.dropdownMenu {
    display: none;
    width: 150px;
    position: absolute;
    margin: 0;
    background: #dddddd;
    text-decoration: none;
    list-style-type: none;
}
.dropdownMenu > li {
    background: #eee;
    line-height: 25px;
    font-size: 14px;
    padding: 0 10px;
    cursor: pointer;
}
.dropdownMenu > li:hover {
    background: #bbb;
}

.rightHeaderField {
    display: inline-block;
}
#armylistTitle {
    font-weight: bold;
    height: 30px;
    width: 120px;
    line-height: 30px;
}
#titleChange {
    font-weight: bold;
    height: 30px;
    width: 120px;
    line-height: 30px;
}

.scroller {
    position: absolute;
    display: none;
    height: 20px;
    width: 100%;
}
#topScroll {
    top: 25px;
    background-color: blue;
}
#botScroll {
    bottom: 0px;
    background-color: blue;
}

.nodisplay {
    display: none;
}
.hidden {
    visibility: hidden;
}

::-webkit-scrollbar {
    display: none;
}
