@CHARSET "UTF-8";

* {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, dl, ol, form, fieldset, input, label,
table, thead, tbody, tfoot, th, tr, td, textarea, select {
    font-family: "helvetica neue";
    font-weight: normal;
    font-size: 14px;
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    background-color: lightblue;
    width: 950px;
    min-height: 600px;
    margin: auto;
}

#headerPanel {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #d1e0e1;
    text-align: center;
    font-weight: bold;
}

#mainPanel {
    height: 550px;
    padding: 5px 0px;
}

#footerPanel {
    width: 100%;
    height: 80px;
    background-color: #d1e0e1;
}

#leftPanel {
    height: 100%;
    position: relative;
    padding: 0px 15px;
    border: 0px;
    margin: 0px;
    overflow-y: hidden;
}
#leftPanel {
    float: left;
    width: 475px;
}
#leftPanelHeader {
    height: 50px;
    margin-bottom: 10px;
    overflow: hidden;
}
#rightPanelHeader {
    height: 30px;
    margin-bottom: 10px;
}
#leftPanelFooter {
}

.unitName {
    font-variant: small-caps;
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
}
.buttonWrapper {
    display: table;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    &>div {
        display: table-cell;
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 4pt;
        vertical-align: middle;
        text-align: center;
    }
}

#unitChoicePanel {
    position: relative;
}

#armyChoicePanel {
    height: 100%;
    margin-top: 25px;
    padding-left: 2px;
}

table.forceList {
    display: none;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    thead {
        display: block;
    }
    tbody {
        display: block;
        height: 400px;
        overflow-y: auto;
        outline: 1px solid black;
    }
    th {
        font-weight: bold;
        height: 25px;
        line-height: 25px;
    }
    tbody>tr {
        background-color: lightgrey;
        border: 1px solid black;
        border-radius: 4px;
        height: 30px;
    }
    td:not(.unitName) {
        width: 66px;
    }
}

.forceSectionBtn,
.forceListReturnBtn {
    display: inline-block;
    text-decoration: none;
    background-color: #f44336;
    color: white;
    font-size: 14px;
    border: 1px solid #5b5b5b;
    border-radius: 4px;
    height: 45px;
    cursor: pointer;
    &:hover {
        background-color: red;
    }
}
.forceSectionBtn {
    width: 90px;
}
.forceListReturnBtn {
    width: 155px;
}

.armyBtn {
    display: inline-block;
    text-decoration: none;
    background-color: #f44336;
    color: white;
    font-size: 16px;
    border: 1px solid #5b5b5b;
    border-radius: 4px;
    width: 85px;
    height: 85px;
    margin: 0px;
    cursor: pointer;
}

.unitBtn, .emptyBtn {
    display: inline-block;
    text-decoration: none;
    background-color: #f44336;
    color: white;
    font-size: 16px;
    border: 1px solid #5b5b5b;
    border-radius: 4px;
    width: 60px;
    line-height: 25px;
    margin: 2px;
}

.emptyBtn, .disabled {
    opacity: 0.6;
    cursor: default;
    pointer-events: none;
}

.emptyBtn {
    color: #f44336;
}

.unitBtn:hover, .armyBtn:hover {
    background-color: red;
}




#rightPanel {
    width: 475px;
    height: 100%;
    padding: 0px 15px;
    display: flex;
    flex-direction: column;

    #armylistPanel {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;

        header {
            flex: 0 1 content;
            margin-bottom: 15px;
        }
        section {
            flex: 1 1 auto;
            overflow-y: scroll;
        }
        footer {
            flex: 0 1 content;
        }
    }

    #rightPanelFooter {
        flex: 0 1 content;
    }
}

#statsTable {
    border-top: 1px solid black;
    table {
        margin: 15px auto;
        text-align: left;
        border-collapse: collapse;
    }
    tbody {
        border-top: 1px solid black;
    }
    th, td {
        padding: 0px 10px;
    }
}

[legal=false] {
    color: red;
}

.dropdownBtn,
.pdfBtn {
    width: 150px;
    background: #222;
    color: #eee;
    line-height: 25px;
    font-size: 14px;
    padding: 0 10px;
    cursor: pointer;
}

.dropdownMenu {
    display: none;
    width: 150px;
    position: absolute;
    margin: 0;
    background: #dddddd;
    text-decoration: none;
    list-style-type: none;
    z-index: 4;
    li {
        background: #eee;
        line-height: 25px;
        font-size: 14px;
        padding: 0 10px;
        cursor: pointer;
        &:hover {
            background: #bbb;
        }
    }
}

.riseTooltip {
    display: none;
    position: absolute;
    transform: translateY(-100%);
    width: 150px;
    background-color: #dddddd;
    padding: 10px;
}

.rightHeaderField {
    display: inline-block;
}
#armylistTitle {
    font-weight: bold;
    height: 30px;
    width: 120px;
    line-height: 30px;
}
#titleChange {
    font-weight: bold;
    height: 30px;
    width: 120px;
    line-height: 30px;
}

#mainPanel {
    ::-webkit-scrollbar {
        width: 8px;
    }
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: rgba(255,0,0,0.6);
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    }
    ::-webkit-scrollbar-thumb:window-inactive {
        background: rgba(255,0,0,0.3);
    }
}
