{% load static %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="utf=8">
        <meta name="viewport" content="width=device-width">
        <title>Kowhub Armybuilder</title>
        <link rel="icon" href={% static "img/favicon.ico" %}>
    </head>
    <body>
        <div id='reactapp' style="position: absolute; top: 0; left: 0; height: 100%; width: 100%;">
            .... it does not seem like React has loaded anything yet...
        </div>
    </body>
    <script>
        window.react_mount = document.getElementById('reactapp');
    </script>
    {% render_bundle 'main' config='builder' %}
</html>
