
$autumn-colors: (
    darkgreen: rgb(104, 107, 48),
    lightgreen: rgb(171, 154, 82),
    yellow: rgb(232, 186, 103),
    orange: rgb(227, 143, 79),
    red: rgb(186, 81, 46),

    black: black,
);

$autumn: (
    color-1:        map-get($autumn-colors, darkgreen),
    color-2:        map-get($autumn-colors, lightgreen),
    color-3:        map-get($autumn-colors, yellow),
    color-4:        map-get($autumn-colors, orange),
    color-5:        map-get($autumn-colors, red),

    background:     map-get($autumn-colors, orange),
    font-header:    map-get($autumn-colors, red),
    font-title:     map-get($autumn-colors, red),

    panel:          map-get($autumn-colors, red),
    font-panel:     map-get($autumn-colors, black),

    button-unit:    map-get($autumn-colors, red),
    font-unit:      map-get($autumn-colors, red),

    button-utility: map-get($autumn-colors, darkgreen),
    font-utility:   map-get($autumn-colors, lightgreen),

    logo-outside:   map-get($autumn-colors, red),
    logo-inside:    map-get($autumn-colors, red),
    logo-name:      map-get($autumn-colors, red),
);

